.net Framework/src/Atlas.BenefitPlan.DAL/Service References/EDIMerlinService/EDIMerlin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:hpmich-local-EDIMerlin" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:S2="urn:hpmich-local-EDIMerlin:EDIMerlin" xmlns:S1="urn:soap-fault:details" xmlns:prodata="urn:schemas-progress-com:xml-prodata:0001" name="EDIMerlin" targetNamespace="urn:hpmich-local-EDIMerlin" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>Author=HPM, EncodingType=DOC_LITERAL, WSA_Product=11.6.2 - Fri May 20 18:10:09 EDT 2016</wsdl:documentation>
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="urn:soap-fault:details">
      <xsd:element name="FaultDetail">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="errorMessage" type="xsd:string" />
            <xsd:element name="requestID" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:hpmich-local-EDIMerlin:EDIMerlin">
      <xsd:element name="applyaccumtran">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pTransaction" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="applyaccumtranResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="xsd:string" />
            <xsd:element name="pResult" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEnrollmentbyGroupCode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="progGroupCode" nillable="true" type="xsd:string" />
            <xsd:element name="progBenefitCode" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEnrollmentbyGroupCodeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="xsd:string" />
            <xsd:element name="planGroupCode" nillable="true" type="xsd:string" />
            <xsd:element name="carrierId" nillable="true" type="xsd:int" />
            <xsd:element name="planBenefitCode" nillable="true" type="xsd:string" />
            <xsd:element name="pProgramStatus" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="loadExternalAccumulators">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ipiSystemId" nillable="true" type="xsd:int" />
            <xsd:element name="pRequest" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="loadExternalAccumulatorsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="xsd:string" />
            <xsd:element name="pResponse" nillable="true" type="xsd:string" />
            <xsd:element name="pResult" nillable="true" type="xsd:int" />
            <xsd:element name="pMessage" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="loadMedicalOOPBalance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pRequest" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="loadMedicalOOPBalanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="xsd:string" />
            <xsd:element name="pResponse" nillable="true" type="xsd:string" />
            <xsd:element name="pResult" nillable="true" type="xsd:int" />
            <xsd:element name="pMessage" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getXMLOutputForPlan">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pSessionID" nillable="true" type="xsd:string" />
            <xsd:element name="pAtlasRecordId" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getXMLOutputForPlanResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="xsd:string" />
            <xsd:element name="pDataXML" nillable="true" type="xsd:string" />
            <xsd:element name="pResult" nillable="true" type="xsd:int" />
            <xsd:element name="pMessage" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EDIMerlin_getXMLOutputForPlanResponse">
    <wsdl:part name="parameters" element="S2:getXMLOutputForPlanResponse" />
  </wsdl:message>
  <wsdl:message name="EDIMerlin_getEnrollmentbyGroupCodeResponse">
    <wsdl:part name="parameters" element="S2:getEnrollmentbyGroupCodeResponse" />
  </wsdl:message>
  <wsdl:message name="EDIMerlin_loadMedicalOOPBalance">
    <wsdl:part name="parameters" element="S2:loadMedicalOOPBalance" />
  </wsdl:message>
  <wsdl:message name="EDIMerlin_getXMLOutputForPlan">
    <wsdl:part name="parameters" element="S2:getXMLOutputForPlan" />
  </wsdl:message>
  <wsdl:message name="FaultDetailMessage">
    <wsdl:part name="FaultDetail" element="S1:FaultDetail" />
  </wsdl:message>
  <wsdl:message name="EDIMerlin_loadExternalAccumulatorsResponse">
    <wsdl:part name="parameters" element="S2:loadExternalAccumulatorsResponse" />
  </wsdl:message>
  <wsdl:message name="EDIMerlin_applyaccumtran">
    <wsdl:part name="parameters" element="S2:applyaccumtran" />
  </wsdl:message>
  <wsdl:message name="EDIMerlin_loadExternalAccumulators">
    <wsdl:part name="parameters" element="S2:loadExternalAccumulators" />
  </wsdl:message>
  <wsdl:message name="EDIMerlin_applyaccumtranResponse">
    <wsdl:part name="parameters" element="S2:applyaccumtranResponse" />
  </wsdl:message>
  <wsdl:message name="EDIMerlin_loadMedicalOOPBalanceResponse">
    <wsdl:part name="parameters" element="S2:loadMedicalOOPBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="EDIMerlin_getEnrollmentbyGroupCode">
    <wsdl:part name="parameters" element="S2:getEnrollmentbyGroupCode" />
  </wsdl:message>
  <wsdl:portType name="EDIMerlinObj">
    <wsdl:operation name="applyaccumtran">
      <wsdl:input message="tns:EDIMerlin_applyaccumtran" />
      <wsdl:output message="tns:EDIMerlin_applyaccumtranResponse" />
      <wsdl:fault name="EDIMerlinFault" message="tns:FaultDetailMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEnrollmentbyGroupCode">
      <wsdl:input message="tns:EDIMerlin_getEnrollmentbyGroupCode" />
      <wsdl:output message="tns:EDIMerlin_getEnrollmentbyGroupCodeResponse" />
      <wsdl:fault name="EDIMerlinFault" message="tns:FaultDetailMessage" />
    </wsdl:operation>
    <wsdl:operation name="loadExternalAccumulators">
      <wsdl:input message="tns:EDIMerlin_loadExternalAccumulators" />
      <wsdl:output message="tns:EDIMerlin_loadExternalAccumulatorsResponse" />
      <wsdl:fault name="EDIMerlinFault" message="tns:FaultDetailMessage" />
    </wsdl:operation>
    <wsdl:operation name="loadMedicalOOPBalance">
      <wsdl:input message="tns:EDIMerlin_loadMedicalOOPBalance" />
      <wsdl:output message="tns:EDIMerlin_loadMedicalOOPBalanceResponse" />
      <wsdl:fault name="EDIMerlinFault" message="tns:FaultDetailMessage" />
    </wsdl:operation>
    <wsdl:operation name="getXMLOutputForPlan">
      <wsdl:input message="tns:EDIMerlin_getXMLOutputForPlan" />
      <wsdl:output message="tns:EDIMerlin_getXMLOutputForPlanResponse" />
      <wsdl:fault name="EDIMerlinFault" message="tns:FaultDetailMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EDIMerlinObj" type="tns:EDIMerlinObj">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="applyaccumtran">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EDIMerlinFault">
        <soap:fault use="literal" name="EDIMerlinFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEnrollmentbyGroupCode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EDIMerlinFault">
        <soap:fault use="literal" name="EDIMerlinFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="loadExternalAccumulators">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EDIMerlinFault">
        <soap:fault use="literal" name="EDIMerlinFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="loadMedicalOOPBalance">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EDIMerlinFault">
        <soap:fault use="literal" name="EDIMerlinFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getXMLOutputForPlan">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EDIMerlinFault">
        <soap:fault use="literal" name="EDIMerlinFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EDIMerlinService">
    <wsdl:port name="EDIMerlinObj" binding="tns:EDIMerlinObj">
      <wsdl:documentation>
      </wsdl:documentation>
      <soap:address location="http://mirxdb01-dvl.caidan.local/pbm/wsa1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>